<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pathDoc" value="" />
    <add key="pathLog" value="" />
    <add key="domain" value="" />
    <add key="mailserver" value="" />
    <add key="mail" value="" />
    <add key="list" value="" />
    <add key="Partages" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>